@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
  background: var(--background);
  color: var(--foreground)
}

@layer base {


  :root {
    --background: #ffffff;
    --foreground: #171717;

    --success: #22C55E;
    --warning: #D43B3B;
    --status: #0EA5E9;
    --error: #F97316;

    --primary: 186deg 78% 42%;
    --primary-foreground: 210deg 40% 98%;

    --secondary: 104deg 100% 72%;
    --secondary-foreground: 195deg 100% 5%;

    /* Muted backgrounds such as <TabsList />, <Skeleton /> and <Switch /> */
    --muted: 180deg 100% 97%;
    --muted-foreground: 195deg 100% 5%;

    --accent: 216deg 100% 97%;
    --accent-foreground: 0deg 0% 16%;

    /* Used for focus ring */
    --ring: 186deg 78% 42%;



    /* gradient 1 colors */
    --gradient-cream: 30deg 100% 96%;
    --gradient-blue: 177deg 65% 93%;
    --gradient-purple: 280deg 100% 96%;


    --sidebar-background: var(--muted);
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 180 64% 90%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
    --radius: 0.5rem;


  }

}

.dark {
  --background: #0a0a0a;
  --foreground: #ededed;

  --primary: 186deg 78% 42%;
  --primary-foreground: 0deg 0%, 100%;

  --secondary: 104deg 100% 30%;
  --secondary-foreground: 0deg 0% 100%;

  --muted: 188deg 69% 7%;
  --muted-foreground: 0deg 0%, 90%;

  --accent: 222deg 74% 4%;
  --accent-foreground: 210deg 40% 88%;

  --ring: 186deg 76% 36%;

  --gradient-cream: 30deg 100% 9%;
  --gradient-blue: 177deg 65% 14%;
  --gradient-purple: 280deg 100% 9%;


  --sidebar-foreground: 240 4.8% 80%;
  --sidebar-primary: 0 0% 98%;
  --sidebar-primary-foreground: 240 5.9% 10%;
  --sidebar-accent: 188 43% 5%;
  --sidebar-accent-foreground: 240 4.8% 95.9%;
  --sidebar-border: 240 3.7% 15.9%;
  --sidebar-ring: 217.2 91.2% 59.8%;

}

